<html>
    <head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <% include ./partials/head %>
    </head>
    <body>
    <% include ./partials/nav %>
    
        <div class="main">
            <h2>Try It Victoria</h2>
            <section>
                <h4>Posts:</h4>
                <% for(var i in posts) {%>
                
                <% if(! (posts[i].imglink == '' || typeof posts[i].imglink === "undefined")) { %>
                    <img class="thumb" src='<%= posts[i].imglink %>'> 
                <% } else {%>
                    <img class="thumb" src="http://epaper2.mid-day.com/images/no_image_thumb.gif">
                <% } %>
                
                <% if(! (posts[i].infolink == '' || typeof posts[i].infolink === "undefined")) { %>
                    <p>More info at: <a  href='<%= posts[i].infolink %>'><%= posts[i].infolink %></a></p>
                <% } else { %>
                    <p></p>
                <% } %>
            <%= posts[i].user + ' ' %>  <%= posts[i].timestamp%>
            <p>Description: <%= posts[i].text %></p>
            <% } %>
            
            </section>
            
            
        </div>
        
    

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="js/control.js"></script>
    </body>
</html>